@model Build1.Models.Task

@{
    ViewBag.Title = "Show";
}
<br />
<a href="/Proiects/Show/@Model.IdProiect">Inapoi la proiect</a>
<br />

<h1>@ViewBag.Message</h1>

<div class="panel panel-default">

    <div class="panel-heading"><h1>@Model.NumeTask</h1></div>

    <div class="panel-body">
        <strong>@Model.DescriereTask</strong>
        <hr />
        <div>
            Membri repartizati:

            <ul>
                @foreach (var rep in Model.Rapartizari)
                {
                    <li>@rep.User.UserName</li>

                    if (((ViewBag.Org == ViewBag.IdCurent) || User.IsInRole("Admin")))
                    {
                        using (Html.BeginForm(actionName: "DeleteRepartizare", controllerName: "Tasks", method: FormMethod.Post,
                                        routeValues: new { id = rep.IdRepartizare }))
                        {
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button type="submit">Elimina</button>
                        }
                    }
                }
            </ul>

            @if (ViewBag.Org == ViewBag.IdCurent)
            {
                <a class="btn btn-primary" href="/Tasks/AddRepartizare/@Model.IdTask">Repartizeaza un nou membru la acest task</a>
            }

        </div>
        <hr />
        <strong>Data inceput: <span class="label label-success">@Model.DataTask</span></strong>
        <h3>Status: @Model.Status</h3>
        @if (Model.Status == "Neterminat")
        {
            if (ViewBag.Permisiuni == 1)
            {
                <a href="/Tasks/End/@Model.IdTask">Task terminat</a>
            }
        }
        else
        {
            <strong>Data sfarsit: <span class="label label-primary">@Model.DataSfarsitTask</span></strong>
        }
    </div>

    @if (((ViewBag.Org == ViewBag.IdCurent) || User.IsInRole("Admin")))
    {
        <div class="panel-footer">
            <a class="btn btn-success pull-left" href="/Tasks/Edit/@Model.IdTask">Modifica taskul</a>

            @using (Html.BeginForm(actionName: "Delete", controllerName: "Tasks", method: FormMethod.Post,
                                    routeValues: new { id = Model.IdTask }))
            {
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button class="btn btn-danger pull-right" type="submit">Sterge taskul</button>
            }

            <div class="clearfix"></div>
        </div>
    }
</div>


<br />
@foreach (var comm in Model.Comments)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div>
                    <p>@comm.ContinutComment</p>
                    <small class="pull-right">@comm.DataComment</small>
                    <i class="glyphicon glyphicon-user"></i> <i>scris de</i> <strong> @comm.User.UserName </strong>
                </div>
                @if (comm.IdUser == ViewBag.IdCurent || User.IsInRole("Admin"))
                {
                    <div style="display: inline-block; float : left; margin-right: 15px">
                        <a class="glyphicon glyphicon-pencil" href="/Comments/Edit/@comm.IdComment"></a>
                    </div>
                    <div style="display: inline-block; float : left">
                        <form method="post" action="/Comments/Delete/@comm.IdComment">
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button class="glyphicon glyphicon-trash" style="border: none; background: transparent" type="submit"></button>
                        </form>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <hr />
}

@if (ViewBag.Permisiuni == 1)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="panel">
                    <form method="post" action="/Comments/New/">
                        <div class="panel-body">
                            <input type="hidden" name="IdTask" value="@Model.IdTask" />
                            <label>Continut comentariu</label>
                            <br />
                            <textarea class="form-control" name="ContinutComment"></textarea>
                            <br />
                            @if (@ViewBag.CommCorect == 0)
                            {
                                <label class="text-danger">Un comentariu nu poate fi gol.</label>
                                <br />
                            }
                            <button class="btn btn-success " type="submit">Adauga comentariu</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
}